.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 70px;
  gap: 40px;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.image-portfolio {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  /* margin: 0 2rem; */
  max-width: 100%;
}

.text-container {
  line-height: 35px;
  margin-bottom: 40px;
}

.text-container h2 {
  /* border-bottom: 2px solid #000; */
  padding-bottom: 20px;
  /* width: 150px; */
}

.text-container.theProblem h1 {
  /* background-color: #ffe6f9; */
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  padding: 30px;
}

.bulletpoints {
  /* list-style-type: none; */
  line-height: 45px;
  margin: 0 3rem;
  text-align: left !important;
}

.list-item {
  list-style: initial;
}
