.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 70px;
  gap: 40px;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.image-portfolio {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  /* margin: 0 2rem; */
  max-width: 100%;
}
